// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap%27");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.normal-card {
  width: 100%;
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
}

.bg-yellow-gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    42deg,
    rgba(249, 202, 167, 1) 0%,
    rgb(253, 245, 166) 35%,
    rgba(254, 200, 193, 1) 100%
  );
}
