//Dark Mode (Default)
//Note the .page class selector in front of .page-dark--default
//It is to ensure it gets higher css priority

.page.page-dark--default {
  background-color: #231f20 !important;
  color: #d3d3d3;

  .page-text ::v-deep(mark) {
    background: rgba(106, 82, 243, 0.29) !important;
    color: white;
  }

  .page-text ::v-deep(.img-credits) {
    a {
      color: white !important;
    }
  }
}
